@use "../utils/variables";
button {
  font-family: "Work Sans", sans-serif;
  border: 1px solid variables.$bright;
  color: variables.$bright;
  background-color: variables.$dark;
  width: 200px;
  padding: 12px;
  font-size: 18px;
  letter-spacing: 0.06rem;
  margin: 24px 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}
