@use "../utils/variables";
button {
  font-family: "Work Sans", sans-serif;
  border: 1px solid variables.$bright;
  color: variables.$bright;
  background-color: variables.$dark;
  width: 200px;
  padding: 12px;
  font-size: 18px;
  letter-spacing: 0.06rem;
  margin: 24px 0 0 0;

  cursor: pointer;
  transition: all 0.2s linear;
  &:hover,
  &:focus {
    background-color: variables.$bright;
    color: variables.$dark;
    outline: 0;
  }
  &:active {
    transform: translateY(2px);
  }
}
