@use "../utils/variables";

$checkbox-size: 14px !default;
$box-shadow-size: 0px !default;
$box-shadow-blur: 4px !default;
$box-shadow-color: variables.$bright !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color,
    0 0 $shadow-size lighten($shadow-color, 5%);
}

.label-container input {
  position: absolute;
  right: 0;
  opacity: 0;
  cursor: pointer;
  height: $checkbox-size;
  width: $checkbox-size;
  margin: 0;

  &:checked ~ .checkmark {
    @include shadow($box-shadow-size, $box-shadow-blur, $box-shadow-color);
    background-color: variables.$bright;
    &:after {
      display: block;
    }
  }
  &:hover input ~ .checkmark {
    cursor: pointer;
  }
}

.checkmark {
  height: $checkbox-size;
  width: $checkbox-size;
  background-color: variables.$black;
  border-radius: 10%;
  border: 2px solid variables.$bright;
  box-sizing: border-box;

  &:after {
    content: "";
    display: none;
    position: relative;
    left: 2px;
    top: -2px;
    width: 3px;
    height: 9px;
    border: solid variables.$dark;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
