@use "../utils/variables";

#wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  #canvas {
    display: grid;
    background-color: variables.$bright;
    max-width: 1000px;
    max-height: 1000px;
    min-width: 500px;
    min-height: 500px;
    padding: 16px;
    .grid-element {
      //background-color:lightgrey;
      border-color: variables.$border-color;
      border-style: solid;
      box-sizing: border-box;
    }
  }
}
