@use "../utils/variables";

$min: 300px;
$max: 1300px;

main {
  #canvas {
    display: grid;
    overflow: hidden;
    background-color: variables.$bright;
    max-width: $max;
    max-height: $max;
    min-width: $min;
    min-height: $min;
    padding: 1rem;
    .grid-element {
      border-color: variables.$border-color;
      border-style: solid;
      box-sizing: border-box;
    }
  }
}
