@use "../utils/variables";
@use "../utils/breakpoints";
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include breakpoints.lg {
    justify-content: flex-start;
  }

  #title {
    letter-spacing: 0.05rem;
    font-size: 1rem;
    padding: 1rem 0rem;
  }
}
